{% extends 'main.html' %}
{% block content %}

    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <h3>Create a Trade</h3>
        </div>

        <form method="POST" action="{% url 'create_trade'%}" class="form auth__form">
            {% csrf_token %}
            {% for field in form%}
            <!-- Input:Text -->
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}

                {% for error in field.errors%}
                    <p style="color: red;">{{error}}</p>
                {% endfor%}

            </div>
            {% endfor %}

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Add" />
          </div>
        </form>
      </div>
    </div>

{% endblock content%}